<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </ul>
    </nav>

    <h1>MENU PAGE</h1>
    <form>
      <div class="menu">
        <button id="search" class="menu-button">Search for movies</button>
        <button id="create" class="menu-button">Create new movie</button>
      </div>
    </form>
    <script>
      const searchMovie = document.getElementById("search");
      const createMovie = document.getElementById("create");

      createMovie.addEventListener("click", (e) => {
        e.preventDefault();
        location.assign("/newmovie");
      });

      searchMovie.addEventListener("click", (e) => {
        e.preventDefault();
        location.assign("/newmovie");
      });
    </script>
  </body>
</html>
