<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup page</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/login">LOGIN</a>
        </li>
      </ul>
    </nav>

    <h1>SIGNUP PAGE</h1>
    <div>
      <form>
        <div>
          <label for="username">username</label>
          <input type="username" name="username" id="username" required />
        </div>
        <div>
          <label for="password">password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
    <script>
      const form = document.querySelector("form");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const username = form.username.value;
        const password = form.password.value;
        const result = await fetch("/signup", {
          method: "POST",
          body: JSON.stringify({ username, password }),
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        });

        const data = await result.json();
        if (data.user) {
          setTimeout(() => {
            location.assign("/login");
          }, 400);
        }
        if (data.errors) console.log(data.errors);
      });
    </script>
  </body>
</html>
